
.ved3-hero-grid{
  display: flex;
  flex-direction: column;
}

.ved3-headline-block h1 {
    max-width: 20ch;
    height: 100vh;
    margin-top: 138px;
    line-height: 96px;
    font-size: 87px;
    margin-left: -102px;
}